html {
    height: 100%;
}

body {
    height: 100%;
    margin: 0;
    display: flex;
    background: #222;
}

#container {
    margin: auto;
    width: min(100vh, 100vw);
    height: min(100vh, 100vw);
    display: flex;
    position: relative;
    overflow: hidden;
}

#canvas {
    margin: auto;
    width: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    height: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    border-radius: min(3px, calc(max(10vw - 10vh, 10vh - 10vw) - 0px));
    background-color: rgba(229, 227, 227, 1.0);
}

#texture {
    position: absolute;
    top: max(5vw - 5vh, 5vh - 5vw);
    left: max(5vw - 5vh, 5vh - 5vw);
    width: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    height: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    border-radius: min(3px, calc(max(10vw - 10vh, 10vh - 10vw) - 0px));
    background: url('./noise.png');
    background-repeat: repeat;
    background-size: 22%;
    mix-blend-mode: lighten;
    opacity: 0.3;
    pointer-events: none;
}

#ambient {
    position: absolute;
    top: max(5vw - 5vh, 5vh - 5vw);
    left: max(5vw - 5vh, 5vh - 5vw);
    width: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    height: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    border-radius: min(3px, calc(max(10vw - 10vh, 10vh - 10vw) - 0px));
    mix-blend-mode: lighten;
    opacity: 0.2;
    background: radial-gradient(circle, rgba(0,0,0,1) 15%, rgba(255,255,255,1) 100%);
    pointer-events: none;
}

#invert {
    position: absolute;
    top: max(5vw - 5vh, 5vh - 5vw);
    left: max(5vw - 5vh, 5vh - 5vw);
    width: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    height: calc(100% - max(10vw - 10vh, 10vh - 10vw));
    border-radius: min(3px, calc(max(10vw - 10vh, 10vh - 10vw) - 0px));
    background-color: white;
    mix-blend-mode: difference;
    pointer-events: none;
}